/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav section */
/* .header-section {
  width: auto;
  height: 1440px;
} */
.hero-section {
  background-image: url("../Assets/Hero-bg.png");
}
.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
/* .nav-section {
} */
nav-section,
nav ul li {
  list-style: none;
}
/* text center */
.text-center {
  text-align: center;
}
/* color section */
.primary-color {
  color: #4e47ff;
}
.bg-primary-color {
  background-color: #f5f8ff;
}
/* logo style */
.logo {
  color: #4e47ff;
  font-size: 34px;
  cursor: pointer;
}
/* button style */
.nav-btn {
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: purple;
}
/* banner style */
.banner-title {
  font-weight: bold;
  font-size: 40px;
}
.banner-section {
  color: #252432;
  padding: 100px;
  /* margin: 0 auto; */
  /* display: flex; */
  align-items: center;
}
/*  */
.action-section {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.action-title {
  color: #252432;
  font-size: 30px;
  margin-bottom: 23px;
}
.action-description {
  color: #8987a1;
  font-size: 18px;
  /* margin-bottom: 10px; */
}
.action-btn {
  color: white;
  background-color: #4e47ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 36px;
}
.action-btn:hover {
  background-color: purple;
}
.action-img {
  border-radius: 48px;
}
/* productive-section style */
.productive-section {
  background-color: #e5e7ff;
  width: 950px;
  height: 220px;
  display: block;
  margin: auto;
  border-radius: 10px;
  padding-top: 10px;
}

.productive-section-h3-style {
  font-weight: bold;
  color: #252432;
  font-size: 25px;
  /* margin: 5px 50px; */
  /* margin-bottom: 10px; */
  /* padding-top: 30px; */
  /* padding: 20px; */
  /* padding-top: 20px; */
}
.productive-users {
  display: flex;
  justify-content: center;
  gap: 45px;
}
/* .productive-section-h3 {
  

} */
.productive-user-h3-size {
  font-size: 65px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 1px;
}
.productive-user-description {
  color: #8987a1;
}

/* touch-section style */
.touch-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 150px;
}
.touch-title {
  font-weight: bold;
  font-size: 35px;
}
.touch-form {
  padding: 100px;
}
form input[type="text"],
form input[type="email"] {
  padding: 10px 34px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-radius: 5px;
}
textarea {
  padding: 10px 34px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-radius: 5px;
  /* direction: ltr; */
}
.touch-btn {
  color: white;
  background-color: #4e47ff;
  width: 125%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.touch-btn:hover {
  background-color: purple;
}
/* footer section style */
.parent-footer {
  text-align: center;
  padding-bottom: 35px;
}
.child-footer-two {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #8987a1;
}
.child-footer h1 {
  color: #4e47ff;
  font-weight: bold;
  font-size: 50px;
}
.child-footer p {
  color: #8987a1;
}
/* feedback-section style */

.feedback-section {
  /* text-align: center; */
  justify-items: center;
}
.feedback-image-title {
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid white; */
  box-shadow: 20px;
  border-radius: 5px;
  background-color: #fafcff;
}
.feedback-section-two {
  display: flex;
  gap: 70px;
  /* padding-top: 20px; */
  /* padding: 20px; */

  /* align-items: center; */
  /* text-align: center; */
}
.feedback-title {
  color: #252432;
  font-weight: bold;
  font-size: 25px;
  padding-top: 70px;
}
.feedback-image-title,
h4,
p {
  color: #252432;
}
.img-size {
  border-radius: 100%;
}
.feedback-image {
  padding: 15px;
}
