/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav section */
/* .header-section {
  width: auto;
  height: 1440px;
} */
.hero-section {
  background-image: url("../Assets/Hero-bg.png");
}
.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
/* .nav-section {
} */
nav-section,
nav ul li {
  list-style: none;
}
/* text center */
.text-center {
  text-align: center;
}
/* color section */
.primary-color {
  color: #4e47ff;
}
/* logo style */
.logo {
  color: #4e47ff;
  font-size: 34px;
  cursor: pointer;
}
/* button style */
.nav-btn {
  background-color: #4e47ff;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* banner style */
.banner-title {
  font-weight: bold;
  font-size: 40px;
}
.banner-section {
  color: #252432;
  padding: 100px;
}
/*  */
.action-section {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.action-title {
  color: #252432;
  font-size: 30px;
  margin-bottom: 23px;
}
.action-description {
  color: #252432;
  font-size: 15px;
  /* margin-bottom: 10px; */
}
.action-btn {
  color: white;
  background-color: #4e47ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 36px;
}
.action-img {
  border-radius: 48px;
}
/* productive-section style */
/* .productive-section {
  background-color: rgba(145, 123, 123, 0.233);
  

} */
.productive-section-h3-style {
  font-weight: bold;
  font-size: 25px;
}
.productive-users {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.productive-user-h3-size {
  font-size: 40px;
  font-weight: bold;
}
/* touch-section style */
.touch-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 150px;
}
.touch-title {
  font-weight: bold;
  font-size: 35px;
}
.touch-form {
  padding: 100px;
  
}
form input[type="text"],
form input[type="email"] {
  padding: 10px 34px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
textarea {
  padding: 10px 34px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  /* direction: ltr; */
}
.touch-btn {
  color: white;
  background-color: #4e47ff;
  width: 125%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}
